.menu-button {
	height:100%;
	width:33%;
	float:left;
	padding:0;
	border:0;
	background: black;
}
.menu-button-home {
	height:100%;
	width:34%;
	float:left;
	padding:0;
	border:0;
	background: black;

}

.tool-button {
	height:100%;
	width:25%;
	float:left;
	padding:7px;
	border:0;
	background: white;
}



.glyphicon-menu-hamburger,.glyphicon-home,.glyphicon-menu-left {
	color:#f60;
}

.devicename-on{
	background: black;
	padding: 0;
	border:0;
	font-weight:500;
}
.devicename-off{
	background: black;
	padding: 0;
	border:0;
	color: gray;
	font-weight:200;
}
.myloadder{
	height: 515px;
/*	border-color: black;
	border:1px;*/
	background-color: black;
	border: 1px solid #A5A5C7;

}
.spinner {
  width: 60px;
  height: 60px;
  background-color: #67CF22;
/*#67CF22*/
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}